<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neutrino.dawn.security.mapper.security.UserMapper">

    <select id="findByUsername" parameterType="String" resultType="com.neutrino.dawn.security.bean.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="findById" parameterType="Long" resultType="com.neutrino.dawn.security.bean.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.neutrino.dawn.security.bean.User">
        INSERT INTO user(username, password, email, first_name, last_name, role) VALUES(#{username}, #{password}, #{email}, #{firstName}, #{lastName}, #{role})
    </insert>
</mapper>
